$mainColor : rgb(226, 145, 53);

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: $mainColor;
  // background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Rock Salt', cursive;

  h1 {
    margin-bottom: 0;
  }
}

.App-link {
  color: #61dafb;
}

nav {
  background: $mainColor;

  a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
}

main {
  min-height: 70vh;
}

header {
  font-size: 2rem;
  font-family: cursive;
  text-transform: uppercase;
}

.pizzas, .cart {
  margin: 5vh auto;
}
.pizzas {
  width: 600px;
}

.pizza {
  margin: 20px;
  padding: 10px;
  // border: 5px groove #282c34;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  // box-shadow: 1px 1px 2px #282c34;
  // border: 1px groove red;
  border: 1px groove #aaa;

  display: flex;

  img {
    width: 200px;
    height: 130px;
    object-fit: contain;
  }
  .pizza-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pizza-name {
    text-transform: uppercase;
    margin: 0;
  }

  .pizza-description {
    line-height: 1.6rem;
  }

  .pizza-buy {
    display: flex;
    justify-content: center;

    .price { 
      font-weight: bold; 
      display: grid;
      place-items: center;
      margin-right: 10px;
    }

    button {
      background: $mainColor;
      // background: #282c34;
      color: white;
      font-weight: bold;
      padding: 5px;
      border-radius: 5px;
    }
  }


  // delay message class switch by opacity
  .msg {
    padding: 5px;
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
    transition: 1s;
    opacity: 0;
  }

  .msg-show {
    opacity: 1;
  }
}

.cart {

  width: 600px;

  .cart-item {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    display: flex;
    // justify-content: space-between;
    align-items: center;

    .name {
      font-size: 1.2rem;
    }
    .quantity, .price, .price-total {
      font-size: 1.3rem;
    }

    .quantity { width: 10%; }
    .image { width: 25%; }
    .name { width: 25%; }
    .price { width: 15% }
    .price-total { width: 15% }
    .delete { width: 10% }

    .image {
      img { width: 100px; border-radius: 5px; }
    }
    .delete {
      cursor: pointer;
    }
  }

  // reset styles for first cart entry (heading)
  .cart-heading {
    border: none;
    .quantity, .name, .price, .price-total, .delete {
      font-weight: normal;
      font-size: 1rem;
    }
  }

  .cart-total {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 10px;

    display: flex;
    align-items: center;

    & > :nth-child(1) { width: 75% }
    & > :nth-child(2) { width: 15%; }
    & > :nth-child(3) { width: 10%; }
  }

  button {
    background: $mainColor;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
}