$mainColor : rgb(209, 145, 26);

.App {
  text-align: center;
}

.App-header {
  background-color: $mainColor;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  min-height: 70vh;
}

header {
  font-size: 2rem;
  font-family: cursive;
  text-transform: uppercase;
}

.pizzas {
  width: 600px;  
  margin: 5vh auto;
}

.pizza {
  margin: 10px;
  padding: 10px;
  // border: 5px groove #282c34;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  border: 2px solid #ccc;

  // &:hover {
  //   transition: 1s;
  // }

  display: flex;

  img {
    width: 200px;
    height: 130px;
    object-fit: contain;
  }
  .pizza-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pizza-name {
    text-transform: uppercase;
    margin: 0;
  }

  .pizza-description {
    line-height: 1.6rem;
  }

  .pizza-buy {
    display: flex;
    justify-content: center;

    .price { 
      font-weight: bold; 
      display: grid;
      place-items: center;
      margin-right: 10px;
    }

    button {
      background: $mainColor;
      color: white;
      font-weight: bold;
      padding: 5px;
      border-radius: 5px;
    }
  }

}